{% extends 'base.html' %}

{% block content %}
<h2>Search</h2>
<p>Welcome to twitter clone.</p>

<form action="/search" method="POST">
    <input type="text" name="query" value={{query}}>
    <input type="submit" value="search" class="submit">
</form>

{% for message in messages %}
<div class="container">
    <h4 style="display: inline;">{{ message['username'] }}</h4>
    <span>{{ message['created_at'] }}</span>
    <p>{{ message['message']|safe }}</p>
</div>
{% endfor %}

<div>
    {% if page_number > 1 %}
        <a href="/?page={{ page_number - 1 }}" class="submit">Previous</a>
    {% endif %}

    Page {{ page_number }}

    {% if messages|length == 20 %}
        <a href="/?page={{ page_number + 1 }}" class="submit">Next</a>
    {% endif %}
</div>

{% endblock %}
